body {
    background-color:#006400;
}
h1 {
    margin-top: 40;
    margin-bottom: 20;
    text-align: center;
    font-size: 100px;
    font-family: fantasy;
    color: black;
    font-weight: normal;
}
div.containerTitle {
    position: fixed;
    top: 100px;
}
div.containerPoints{
    position: absolute;
    top: 80px;
    right: 100px;
    color: white;
    padding-top: 3%;
    padding-bottom: 6%;
    padding-left: 40px;
    font-family: 'Audiowide', cursive;
    font-size: 25px;
}
p {
    color: white;
    padding-top: 25;
    padding-left: 25;
    margin-top: 50px;
    font-family: 'Audiowide', cursive;
    font-size: 50px;
}
div.container1 {
    position: absolute;
    top: 150px;
    left: 350px;
     text-align: center;
}
div.container3 {
    position: absolute; 
    top: 250px;
    left: 350px;
     text-align: center;
}
div.container2 {
    position: absolute;
    top: 350px;
    left: 350px;
     text-align: center;
}
div.container4 {
 
    top: 450px;
    left: 500px;
     
}
.winner {
    /*position: absolute;*/
    font-size: 90px;
    font-family: inherit;
    top: 300px;
    left: 370px;
    margin-bottom: 10;
    margin-right: 200;
    color: yellow;
    text-align: center;
}
